*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #008080;
}

.header {
  font-family: Tahoma, Verdana;
  margin: 2px 2px 0;
  padding: 1px 2px;
  color: #fff;
  font-size: 12px;
  background: linear-gradient(to right, #000080, #1084d0);
  font-weight: bold;
  line-height: 16px;
  display: flex;
  align-items: center;
}

#text {
  font-family: ;
  margin-top: 1em;
}

.container {
  width: 800px;
  background: #bfbfbf;
  box-shadow: 1px 1px 0 0 #000;
  overflow: auto;
  resize: both;
}

.content {
  font-family: Tahoma, Verdana;
  padding: 7px 10px;
  margin-left: 3em;
  margin-right: 3em;

}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.btn {
  font-family: Tahoma, Verdana;
  background: #bfbfbf;
  border: 1px solid;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  border-right-color: #808080;
  border-bottom-color: #808080;
  box-shadow: 1px 1px 0 0 #000;
  text-align: center;
  outline: none;
  padding: 4px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  border-color: black;
  cursor: pointer;
}
